{% include 'sidebar.twig' with {'params':params} %}
<script>
</script>
{% if params.serveurs == "empty" %}
<div class="w3-container w3-center">
    <div class="w3-panel w3-blue">
        {% if params.user_data[0].token_e + params.user_data[0].token_m + params.user_data[0].token_g == 0 %}
        <p class="w3-xxlarge">Vous n'avez pas de serveur(s) avec la Gabhost.</p>
        <p class="w3-xxlarge">Vous n'avez pas de jetons serveurs non plus.</p>
        <a href="?p=#"><button class="w3-button w3-medium w3-text-white w3-border-white w3-round-large w3-border w3-hover-green w3-middle w3-xxlarge">IL M'EN FAUT</button></a><br><br>
        {% else %}
        <p class="w3-xxlarge">Vous n'avez pas de serveur(s) avec la Gabhost.</p>
        <dfn>mais vous avez déjà {{params.user_data[0].token_e}} jeton(s) Essentiel, {{params.user_data[0].token_m}} jeton(s) Medium et {{params.user_data[0].token_g}} jeton(s) GAMING</dfn><br><br>
        <a href="?p=Creation-serveur"><button class="w3-button w3-medium w3-text-white w3-border-white w3-round-large w3-border w3-hover-green w3-middle w3-xxlarge">J'EN VEUX UN!</button></a><br><br>
        {% endif %}
    </div>
</div>
{% else %}

<div class="w3-container w3-center">
   <div class="w3-panel panel-black" style="padding:1.5vh;margin:0.5vh;border-top:solid 3px; border-image-source: linear-gradient(to right, red 0%, blue 100%);border-image-slice: 5;">
    <h4>vous avez {{params.user_data[0].token_e}} jeton(s) Essentiel, {{params.user_data[0].token_m}} jeton(s) Medium et {{params.user_data[0].token_g}} jeton(s) GAMING</h4>
   </div>
</div>
{% set jeux = [] %}
{% for serveur in params.serveurs %}
    {% if (serveur.egg_id == 16) or (serveur.egg_id == 17) or (serveur.egg_id == 25) or (serveur.egg_id == 26) or (serveur.egg_id == 27) or (serveur.egg_id == 28) or (serveur.egg_id == 29) %}
        {% set game = "Minecraft" %}
        {% set jeux = jeux|merge(['Minecraft']) %}
    {% elseif (serveur.egg_id == 12) %}
        {% set game = "Mumble" %}
        {% set jeux = jeux|merge(['Mumble']) %}
    {% elseif (serveur.egg_id == 14) %}
        {% set game = "Rust" %}
        {% set jeux = jeux|merge(['Rust']) %}
    {% elseif (serveur.egg_id == 21) or (serveur.egg_id == 19) or (serveur.egg_id == 20) %}
        {% set game = "Terraria" %}
        {% set jeux = jeux|merge(['Terraria']) %}
    {% elseif (serveur.egg_id == 24) %}
        {% set game = "Factorio" %}
        {% set jeux = jeux|merge(['Factorio']) %}
    {% elseif (serveur.egg_id == 30) %}
        {% set game = "7 Days to die" %}
        {% set jeux = jeux|merge(['7 Days to die']) %}
    {% elseif (serveur.egg_id == 31) %}
        {% set game = "Ark" %}
        {% set jeux = jeux|merge(['Ark']) %}
    {% else %}
        {% set game = "Gabhost" %}
        {% set jeux = jeux|merge(['Gabhost']) %}
    {% endif %}
{% endfor %}
{% set jeux = jeux|gbunique %}
{% for jeu in jeux %}
<div class="w3-container w3-center">
    <div class="w3-panel panel-black" style="padding:1.5vh;margin:0.5vh;border-top:solid 3px; border-image-source: linear-gradient(to right, green 0%, cyan 100%);border-image-slice: 5;">
     <h4>SERVEUR(s) {{jeu}}</h4>
    </div>
</div>
{% for serveur in params.serveurs %}
    {% if (serveur.egg_id == 16) or (serveur.egg_id == 17) or (serveur.egg_id == 25) or (serveur.egg_id == 26) or (serveur.egg_id == 27) or (serveur.egg_id == 28) or (serveur.egg_id == 29) %}
        {% set game = "Minecraft" %}
        {% set jeux = jeux|merge(['Minecraft']) %}
    {% elseif (serveur.egg_id == 12) %}
        {% set game = "Mumble" %}
        {% set jeux = jeux|merge(['Mumble']) %}
    {% elseif (serveur.egg_id == 14) %}
        {% set game = "Rust" %}
        {% set jeux = jeux|merge(['Rust']) %}
    {% elseif (serveur.egg_id == 21) or (serveur.egg_id == 19) or (serveur.egg_id == 20) %}
        {% set game = "Terraria" %}
        {% set jeux = jeux|merge(['Terraria']) %}
    {% elseif (serveur.egg_id == 24) %}
        {% set game = "Factorio" %}
        {% set jeux = jeux|merge(['Factorio']) %}
    {% elseif (serveur.egg_id == 30) %}
        {% set game = "7 Days to die" %}
        {% set jeux = jeux|merge(['7 Days to die']) %}
    {% elseif (serveur.egg_id == 31) %}
        {% set game = "Ark" %}
        {% set jeux = jeux|merge(['Ark']) %}
    {% else %}
        {% set game = "Gabhost" %}
        {% set jeux = jeux|merge(['Gabhost']) %}
    {% endif %}
    {% if game == jeu %}
    {% if  serveur.cpu == 70 %}
        {% set gamme = "Essentiel" %}
            {% set json %}
                {% include 'essentiel.json' %}
            {% endset %}
        {% set color = '#DA0357' %}
    {% elseif serveur.cpu == 140 %}
        {% set gamme = "Medium" %}
            {% set json %}
                {% include 'medium.json' %}
            {% endset %}
        {% set color = '#4C7BF4' %}
    {% else %}
        {% set gamme = "Gaming" %}
            {% set json %}
                {% include 'gaming.json' %}
            {% endset %}
        {% set color = '#29BB2B' %}
    {% endif %}


    {% set json = json|json_decode() %}

<div class="w3-container w3-mobile {% if (params.serveurs|length >= 2 ) %}w3-half{% endif %}" style="">
    <div class="w3-panel panel-black" style="padding:1.5vh;margin:0.5vh;border-top:solid 3px; border-color:{{ color }};">
        <span class="w3-xlarge">Serveur {{game}}</span>
        <span class="w3-xlarge" style="color:#90ee90;float:right;">Serveur {{gamme}}</span>
        <hr style="clear:both;">
<a href="https://panel.gabhost.tk/server/{{ serveur.uuidShort }}"><button style="text-align:center;"class="w3-button w3-green"><img src="svg/link-45deg.svg" class="svg-icon svg-blanc"> {{serveur.name}}</button></a>
<span class="w3-large">❝</span> {{ serveur.description }} <span class="w3-large">❞</span>
<hr>
<h3>Actions :</h3>
 <form method="POST" onsubmit="return loading()" action="/scripts/oneport.php" style="display: inline;"><input type="submit" value="Ajouter un port" class="w3-button w3-medium w3-text-white w3-border-white w3-round-large w3-border w3-hover-black"><input type="hidden" name="suuid" value="{{serveur.uuidShort}}"></form><br>
<br>

 <form method="POST" onsubmit="return changeegg()" action="/scripts/changesrv.php" style="display: inline;">
 <select name="changesrv" class="w3-large w3-select" id="changesrv" required>
  <option value="" disabled selected>Changer mon serveur</option>
    {% for key in json["jeux"] %}
        <optgroup label="{{ key["name"] }}">
        {% for jeux in key["types"] %} {# Pour chaque clef itère la liste types#}
            <option value="{{ key["name"] ~ jeux }}">{{jeux}}</option> {# Créer l'option la value du nom est la concaténation (grace à ~ ) du nom de la clef et du jeux#}
        {% endfor %}
    {% endfor %}
 </select><br><br>
 <input type="submit" value="Changer mon serveur" class="w3-button w3-medium w3-text-white w3-border-white w3-round-large w3-border w3-hover-black"><input type="hidden" name="suuid" value="{{serveur.uuidShort}}">
 </form><br><br>


    {% if (serveur.egg_id == 16) or (serveur.egg_id == 17) or (serveur.egg_id == 25) or (serveur.egg_id == 26) or (serveur.egg_id == 27) or (serveur.egg_id == 28) or (serveur.egg_id == 29) %}
        <form method="POST" onsubmit="return changejava()" action="/scripts/changesimg.php" style="display: inline;">
            <select name="updateimg" class="w3-large w3-select" id="updateimg" required>
                 <option value="" selected disabled>Changer mon Java</option>
                 <option value="1">Java 8</option>
                 <option value="2">Java 8 open j9</option>
                 <option value="3">Java 11</option>
            </select><br><br>
            <input type="submit" value="Changer mon Java" class="w3-button w3-medium w3-text-white w3-border-white w3-round-large w3-border w3-hover-black"><input type="hidden" name="suuid" value="{{serveur.uuidShort}}">
        </form><br><br>
    {% endif %}
    <hr>
    {% set difference = date(serveur.expdate).diff(date("now")) %}
    {% set deletedays = date(serveur.expdate|date_modify("+5 day")).diff(date("now")) %}
    {% set deletedays = deletedays.days %}
    {% set leftDays = difference.days %}
    {% if leftDays >= 10 %}
        {% set bgleft = "#29BB2B" %}
        {% set leftDays = leftDays ~" jours" %}
    {% elseif leftDays <= 5 %}
        {% set bgleft = "#DA0357" %}
        {% set leftDays = leftDays ~" jours" %}
    {% elseif leftDays <= 10 %}
        {% set bgleft = "orange" %}
        {% set leftDays = leftDays ~" jours" %}
    {% endif %}
    {% if serveur.suspended == 1 %}
        {% set bgleft = "red" %}
        {% set leftDays = "Suspendu" %}
    {% endif %}
    <h3>Informations :</h3>
        <h5>Expire le : {{serveur.expdate|date("d/m/Y")}} à minuit <span style="background-color:{{bgleft}};border-radius:5px;padding:3px;">{{ leftDays }}</span></h5> 
        <h5>Disparait le : {{serveur.expdate|date_modify("+5 day")|date("d/m/Y")}} à minuit <span style="background-color:{{bgleft}};border-radius:5px;padding:3px;">{{ deletedays }} jours</span></h5>
        <form action="/scripts/extendloc.php" method="POST">
            <input type="hidden" name="csrf" value="">
            <label for="mois"><h5>Etendre la location de mon serveur (mois)</h5></label>
            {% if (((gamme == "Essentiel") and params.user_data[0].token_e <= 0) or ((gamme == "Medium") and params.user_data[0].token_m <= 0) or ((gamme == "Gaming") and params.user_data[0].token_g <= 0)) %}
                {% set disabled = "disabled" %}
            {% endif %}
            {% if gamme == "Essentiel" %}
                {% if params.user_data[0].token_e > 12 %}
                    {% set maxextmois = 12 %}
                {% else %}
                    {% set maxextmois = params.user_data[0].token_e %}
                {% endif %}
            {% elseif gamme == "Medium" %}
                {% if params.user_data[0].token_m > 12 %}
                    {% set maxextmois = 12 %}
                {% else %}
                    {% set maxextmois = params.user_data[0].token_m %}
                {% endif %}
            {% else %}
                {% if params.user_data[0].token_g > 12 %}
                    {% set maxextmois = 12 %}
                {% else %}
                    {% set maxextmois = params.user_data[0].token_g %}
                {% endif %}
            {% endif %}
            <input type="number" min="1" max="{{maxextmois}}" value="0" name="mois" class="w3-input" {{disabled}}><br>
            <input type="submit" value="Etendre mon serveur" class="w3-button w3-medium w3-text-white w3-border-white w3-round-large w3-border w3-hover-black" {{disabled}}>
            <input type="hidden" name="suuid" value="{{serveur.uuidShort}}">
        </form>
        {# endDate and startDate are strings or DateTime objects #}
            </div>
         </div>
        {% else %}{% endif %}
        {% endfor %}
{% endfor %}
<div class="w3-container w3-center">
    <div class="w3-panel w3-blue">
        <p class="w3-large">Vous avez {{params.serveurs|length}} serveur(s) avec la Gabhost</p>
        <a href="?p=Creation-serveur"><button class="w3-button w3-medium w3-text-white w3-border-white w3-round-large w3-border w3-hover-green w3-middle w3-large">ENCORE UN!</button></a><br><br>
    </div>
</div>


{% endif %}
</div>
{% include 'footer.twig' %}